
h1.opening_image {
    color: #3f3f3f;
    font-family: "Open Sans",sans-serif;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: 6px;
    margin-bottom: auto;
    margin-top: 300px;
    text-align: center;
}

a.name-logo {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}

h3 {
    color: #3f3f3f;
    font-family: "Open Sans",sans-serif;
    font-size: 34px;
    font-weight: 600;
}


h4 {
    color: #3f3f3f;
    font-family: Helvetica;
    font-size: 18pt;
    font-weight: 600;
}
h2.custom {
    color: #3f3f3f;
    font-family: "Open Sans",sans-serif;
    font-size: 70px;
    font-weight: 800;
    padding-bottom: 15px;
	width: 100%;
}

p.content{
    font-family: "Open Sans",sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.625;
}

.text-justify {
  text-align: justify;
}