body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

div.outerCover {
	background: url('pink_rice.png') repeat;
	width: 99%;
	height: 95%;
	border-radius: 8px;
	display: none;
}

div.tableOfContents { display: none; }

div.paper {
	background: url('paper.png') repeat;
	border-radius: 8px;
	border: 1px solid #ccc;
	width: 99%;
	height: 95%;
}

textarea {
    background: transparent;
    border: none;
    font-family: "Open Sans";
    font-size: 30px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    resize: none;
}