
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: url("fonts/opensans-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-extrabold-webfont.woff2") format("woff2"), url("fonts/opensans-extrabold-webfont.woff") format("woff"), url("fonts/opensans-extrabold-webfont.ttf") format("truetype"), url("fonts/opensans-extrabold-webfont.svg#open_sanslight") format("svg");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url("fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-semibold-webfont.woff2") format("woff2"), url("fonts/opensans-semibold-webfont.woff") format("woff"), url("fonts/opensans-regular-webfont.ttf") format("truetype"), url("fonts/opensans-semibold-webfont.svg#open_sansregular") format("svg");
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-regular-webfont.woff2") format("woff2"), url("fonts/opensans-regular-webfont.woff") format("woff"), url("fonts/opensans-regular-webfont.ttf") format("truetype"), url("fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
}
body {
    color: #3f3f3f;
    font-family: "Open Sans",sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.625;
    overflow-x: scroll;
}
#navbar {
    background: #3f3f3f none repeat scroll 0 0;
    float: left;
    font-size: 14px;
    height: 33px;
    left: 0;
    opacity: 0.9;
    padding-left: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#navbar a.left {
    color: #fff;
    float: left;
    font-family: "Open Sans";
    font-weight: 500;
    letter-spacing: 1px;
    padding: 6px 30px 4px;
    text-decoration: none;
}
#navbar a.right {
    color: #fff;
    display: none;
    float: right;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: -2px;
    opacity: 0.75;
    padding-left: 45px;
    padding-right: 70px;
    text-decoration: none;
}
#navbar a:hover {
    background-color: #101214;
    opacity: 1;
}
.opening_image {
    background: rgba(0, 0, 0, 0) url("rocket-frost.gif") repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.opening_image h1 {
    color: #3f3f3f;
    font-family: "Open Sans",sans-serif;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: 6px;
    margin-bottom: auto;
    margin-top: 300px;
    text-align: center;
}

.content {
    padding-left: 50px;
    padding-top: 50px;
}

h2 {
    color: #3f3f3f;
    font-family: "Open Sans",sans-serif;
    font-size: 70px;

}

h3 {
	color: #3f3f3f;
    font-family: "Open Sans",sans-serif;
    font-size: 30px;
    font-weight: 600;
}

p {
	width: 600px;
}
