body { 
	background-color: #140055; 
	font-family: "Open Sans",sans-serif;
    font-size: 100%;
    font-weight: 400;
}

div.graphArea {
	background: url(grid.png);
    height: 600px;
    margin-left: 20px;
    margin-top: 40px;
	padding: 40px;
    width: 90%;
}

#timebar { 
	background-color: #8EBDFF; 
	background-position: top left; 
	border: solid 1px #ddd;
	cursor: e-resize;
	color: #333;
	width: 150px; 
	max-width: 100%;
	height: 40px; 
	max-height: 50px;
	text-align: center;
}

h3 {
	margin: 0;
    font-weight: 600;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}